body{
  z-index: 0;
  position: relative;
  background-color: white;
  /* scroll-behavior: smooth !important; */
overflow-x: hidden;
margin:0;
box-sizing: border-box;
padding: 0;
}
/**************/
#preloader-img{
  margin: auto;
transition: all ease-in-out 4s;
opacity: 0.3;
}
.pulsate1{
  transform: scale(1.7) rotate(720deg);

  opacity: 1 !important;
}
.pulsate2{
  transform: scale(1) rotate(-360deg);
  opacity: 0.3 ;
}


/* Pay Now button fixes*/
.pay-now-btn,.pay-now-collapse-btn{
 
  margin: 0 !important;
  min-width: max-content;

padding:5px 13px !important;

  /* background-color: rgb(241,93,34) !important; */
}

.dropdown-toggle.active{
  background-color: rgba(31,186,254,0.15);
}
.pay-now-collapse-item{
 display: none ; 
}
@media(max-width:990px){
.pay-now-btn{
  display: none !important;
}
.pay-now-collapse-item{
  display:block ;
}
.pay-now-collapse-btn{
font-size: small !important;
}
}
/************************/
/* Call Now button fixes*/
.call-now-btn{
  display:block;
  padding: 5px 11px !important;
  min-width: max-content;
}
.call-now-mini-navbar-item{
display: none;
font-size: small !important;
padding: 5px 11px !important;
}
@media(max-width:990px){
  .call-now-btn {
  display: none !important;
}
.call-now-mini-navbar-item{
  display:block;
}
}/************************/
/*pop over event */
.overlay-event{
  position: fixed;
  z-index: 3000;
  right:7%;
  color: black;

  /* grid-template-columns: 1fr 9fr;
  grid-template-rows: 2fr 8fr; */
  top:90vh;

}
.overlay-btn{

background-color:rgb(255, 180, 68) !important;
}

.overlay-btn:hover{

}
.overlay-btn:active,.overlay-btn:focus{

}
/* @media only screen and (max-width:600px){.overlay-event{display: none;}} */
/* .bs-popover-top{
  background: transparent;
  box-shadow: unset !important;
} */
/************************/


/*Landing Page Header Credits*/
.landing-page-header-credits {

text-decoration: none !important;
text-align:center ;
     display:block;
      
     color:white;
     margin:auto ; 
     margin-top:-30px;
     font-size:0.4rem;
    }
@media (max-width:990px){
  .landing-page-header-credits {
text-align:right ;
  }
}

/************************/
/*Landing Page Header Credits*/
.secondary-page-header-credits{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  font-size: 0.4rem;
  color: white;
  
}

/*******************/


/*Location Carousel Controls */
.arrows-1_minimal-left.locationcarousel-controls{
  right:0 !important;
top:52%;
  margin-right:-300%;
}
@media(max-width:525px){
.arrows-1_minimal-right.locationcarousel-controls{
  top:60% !important;
}.arrows-1_minimal-left.locationcarousel-controls{  
    top:60% !important;
  }
}
.arrows-1_minimal-right.locationcarousel-controls{
  left:0 !important;
  top:52%;
  margin-left:-300%;
}
.locationcarousel-controls{
  background: transparent !important;
  position: absolute;

}
@media (min-width:700px){
  .locationcarousel-controls{
    border: 1px solid grey !important;
  }
}
.locationcarousel-controls:hover{
border:1px solid grey !important;
}

/********************************/

@media only screen and (max-width:600px) {
#logoimage{
width: 100%;
}
}
#prev-btn:hover, #next-btn:hover{
border: 2px solid white !important;
}
#prev-btn1:hover, #next-btn1:hover{
    /* border: 4px solid #920ce8 !important; */
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.3);    
}
#prev-btn, #next-btn{
    border: 2px solid rgb(133, 133, 133) !important;
    }
   #clipped-div{
       height: fit-content;
    } 
    #clipped-div-upside{
      height: fit-content;
   } 

    #clipped-div-upside img{
transform: rotate(180deg);
    }


    @media only screen and (max-width: 630px){
      #clipped-div-upside img,#clipped-div img{
        height:'170%' !important;
      }
            }



    .review-carousel .carousel-inner{
        border-radius: 3rem;
    }





/*Exapnsion Panel fixes*/

.MuiExpansionPanel-rounded{
    transition: all 0.5s !important;
}

    .MuiExpansionPanel-rounded:hover {
     background-color: rgba(240, 239, 239, 0.021);
        box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
    }
/**************/
    .wrapper{
        margin-top:5%;
        margin-bottom:5%;
        transition: all 1s !important;
    }

  /* */  
.card-blog{

}
    .minicards:hover{
        background-color: rgba(240, 239, 239, 0.021);
        box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
        transform:translateY(-10px) !important;
    }


/*carousel general background color grey issue fix*/
    

    .my-page-header::before{
        background-color: rgba(255, 255, 255, 0) !important;
    }
    .page-header::before{
      background-color: transparent !important;
    }
    /************************/
    .my-page-header{
      max-height: 40vh !important;
    }

    /* pills links active golden border*/
    .pills-links{
      /* background-color: unset !important;
      background:linear-gradient(to bottom right ,rgb(255, 191, 71),rgb(243, 226, 195)) !important; */
    }
    .pills-links.active{
      background-color: unset !important;
      background:linear-gradient(to bottom right ,rgb(252, 162, 78),rgb(243, 226, 195)) !important;
      border:5px solid yellow;
    }
 /************************/
/*landing page top carousel  bottom curve fix */
    .mycarouselindicators{
        background-image: url('../img/Artboard7.svg');
        background-size:cover;
        background-position: center;
        margin-left:0 !important;
        /* padding-left:48% !important;
        padding-right:48% !important; */
        min-width:100vw !important;
        margin-right:0 !important;
        min-height: 10vh;
        padding-top:1% !important;
        margin-bottom: 0 !important;
    }
    .mycarouselindicators li{
        margin-right:0.5% !important;
        margin-left:0.5% !important;
    }

     /************************/


/* social media icons*/
#hovericonscontainer{
    z-index:9999999;display: block; padding:1%;position: fixed;left:0;bottom:5%
;}
    .hovericons {
        transition: all 0.5s ease;
        background-color: transparent;
      }
    #hovericons1{
        border-radius:20%;
        background: linear-gradient( to bottom left,rgba(128, 0, 128, 0.514), rgba(255, 0, 0, 0.5), rgba(255, 217, 0, 0.521));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
      #hovericons1:hover {
        transform: rotate(360deg);
        padding: 10%;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        color: white !important;
        background-image: linear-gradient(to bottom left, purple, red, gold) !important;
    
      }
    #hovericons2{
        border-radius:12%;
        color:rgba(0, 0, 255, 0.514);
    }
      #hovericons2:hover {
        transform: rotate(360deg);
        padding: 10%;
        color: white !important;
        background-color: blue !important;
    
      }
    #hovericons3{
  border-radius:20%;color:rgba(59, 129, 233, 0.514);
    }
      #hovericons3:hover {
        transform: rotate(360deg);
        padding: 10%;
        color: white !important;
        background-color: rgb(59, 129, 233) !important;
    
      }
    #hovericons4{
    border-radius:11%;
color:rgba(28, 46, 211, 0.507);
    }
      #hovericons4:hover {
        transform: rotate(360deg);
        padding: 10%;
        color: white !important;
        background-color: rgb(28, 46, 211) !important;
    
    
      }
      @media only screen and (max-width: 800px) {
        .review-carousel-controls span{
          display: hidden;
          opacity: 0;
        }
        .reviewcarouselitems{
          max-height: 100vh !important; box-shadow: "none" ;
       }
        /* .review-carousel-indicators{
display: none;
        } */
      }

      /*Review Carousel */
#mytestimonials{
  background-color: rgba(209, 151, 42, 0.507);
}
      .review-carousel-controls{
        width:'15%'
      }
.reviewcarouselitems{
   max-height: 82vh !important; box-shadow: "none" ;
}
.reviewcarouselitems .card-testimonial{
margin-left: auto !important;

margin-right: auto !important;
margin-top: 1% !important;
margin-bottom: 1% !important;}

.testimonials-people{
  padding: 0 !important;
}

 /************************/
      /* fix contact us section background*/
      .section-image::after {
        background-color: white !important;
      }
/*******/
/* Landing page contact form & MAP*/

@media  (min-width:790px){
  .landingcontactus-container{
    margin-left: 7%;
    margin-right: 7%;
  }
  #contactUsMap{

  }
  .map-wrapper{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  }
  #contactUsMap1{
    margin-left:9% !important;
    margin-right:7% !important; 
  }
.landingpage-contactform{
  margin-left:15% !important; 
  margin-right: 15% !important;
}}
/* #slider-container{

}
.my-controls {
  margin: 0;
  padding: 0;
  list-style: none;


     

  display: flex;
  align-items: center;    
  justify-content: space-between;
  

  
}
.my-controls li{
  background: rgb(216, 83, 83);
}
.my-controls li:hover {
  cursor: pointer;        
}
.my-slider{
  width:90%;
} */

/* Properties Page Carousel */
.rcs_slideCon .itemWrapper{
  margin: 0 40px !important;
}
.itemWrapper{
  width:30vw  !important;
}
.itemWrapper img{
  width:30vw !important;
}
.rcs_sliderSet{
  width:80% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
}
.rcs_sliderBox{
  background-color: rgba(255, 255, 255, 0) !important;


}
.rcs_dotsSet{
margin:auto;
visibility: hidden;
}
@media (max-width:920px){
  .itemWrapper{
    width:60vw !important;
  }
  .itemWrapper img{
    width:60vw !important;
  }
}
@media (max-width:420px){
  .itemWrapper{
    width:100vw !important;
  }
  .itemWrapper img{
    width:100vw !important;
  }
}
/*Properties Page Pills*/
.occupancy-cards{
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.acts-card{
  border-radius: 12px !important;
  margin-bottom: 2% !important;
  min-height: 5vh !important;
}
.acts-card-item{

padding:1% 0% 1% 1%;

}
.acts-card-item p{
  font-size: 0.6rem !important;
  /* min-height: 6.5vh ; */
}
.prop-location-title{
  font-size: 2.8rem;
}
@media(max-width:570px){
.prop-location-title{
font-size: 1.35rem !important;
}}
@media(max-width:990px){
.prop-location-title{
  font-size: 1.7rem;
  }
}
.propertiespillslink a{

 background-color: white !important;
  border:1px solid rgba(128, 128, 128, 0.534) !important;
  display: flex;
}
ul.propertiestabs li a.active{
  /* border:0 !important; */
  background: linear-gradient(to bottom right, rgb(241, 176, 101),rgb(255, 136, 0)) !important;
  color: white !important;
  /* font-weight: lighter !important; */
font-weight: lighter;

}
/***********************/

/************Footer************/
.footer ul li{
  display: block !important;
line-height: 2.1 !important;
padding: 0% 0% 5%  0%;
}
.footer ul li a{
  padding:unset !important;
  font-size: unset !important;
  font-weight: 300;
  
}
/*Footer store buttons*/
.android-btn{
  width:100%;
  display:flex;
  background-color: white !important;
text-align: center;
/* padding-left: 0 !important;
padding-right: 0 !important; */
width: max-content;
}
.btn-text{
color:black;
  justify-content: center;
}

/**********************/