body{
  z-index: 0;
  position: relative;
  background-color: white;
  /* scroll-behavior: smooth !important; */
overflow-x: hidden;
margin:0;
box-sizing: border-box;
padding: 0;
}
/*pop over event */
.overlay-event{
  position: fixed;
  z-index: 3000;
  right:7%;
  color: black;

  /* grid-template-columns: 1fr 9fr;
  grid-template-rows: 2fr 8fr; */
  top:90vh;

}
.overlay-btn{

background-color:rgb(255, 180, 68) !important;
}

.overlay-btn:hover{
  opacity:1 !important;
}
.overlay-btn:active,.overlay-btn:focus{
  opacity:0.4 !important;
}
/* @media only screen and (max-width:600px){.overlay-event{display: none;}} */
/* .bs-popover-top{
  background: transparent;
  box-shadow: unset !important;
} */

@media only screen and (max-width:600px) {
#logoimage{
width: 100%;
}
}
#prev-btn:hover, #next-btn:hover{
border: 2px solid white !important;
}
#prev-btn1:hover, #next-btn1:hover{
    /* border: 4px solid #920ce8 !important; */
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.3);    
}
#prev-btn, #next-btn{
    border: 2px solid rgb(133, 133, 133) !important;
    }
   #clipped-div{
       height: fit-content;
    } 
    #clipped-div-upside{
      height: fit-content;
   } 

    #clipped-div-upside img{
transform: rotate(180deg);
    }

    .review-carousel .carousel-inner{
        border-radius: 3rem;
    }
.MuiExpansionPanel-rounded{
    transition: all 0.5s !important;
}

    .MuiExpansionPanel-rounded:hover {
     background-color: rgba(240, 239, 239, 0.021);
        box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
    }

    .wrapper{
        margin-top:5%;
        margin-bottom:5%;
        transition: all 1s !important;
    }

  /* */  
.card-blog{

}
    .minicards:hover{
        background-color: rgba(240, 239, 239, 0.021);
        box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
        transform:translateY(-10px) !important;
    }
/*carousel bg color issue fix*/
    .my-page-header::before{
        background-color: rgba(255, 255, 255, 0) !important;
    }
    .page-header::before{
      background-color: transparent !important;
    }
    .my-page-header{
      max-height: 40vh !important;
    }

    /* pills links active golden border*/
    .pills-links.active{
      border:5px solid yellow;
    }

/*landing page top carousel  bottom curve fix */
    .mycarouselindicators{
        background-image: url('../img/Artboard7.svg');
        background-size:cover;
        background-position: center;
        margin-left:0 !important;
        /* padding-left:48% !important;
        padding-right:48% !important; */
        min-width:100vw !important;
        margin-right:0 !important;
        min-height: 10vh;
        padding-top:1% !important;
        margin-bottom: 0 !important;
    }
    .mycarouselindicators li{
        margin-right:0.5% !important;
        margin-left:0.5% !important;
    }
/* social media icons*/
#hovericonscontainer{
    z-index:9999999;display: block; padding:1%;position: fixed;right:0;bottom:5%
;}
    .hovericons {
        transition: all 0.5s ease;
        background-color: transparent;
      }
    #hovericons1{
        border-radius:20%;
        background: -webkit-linear-gradient( purple, red, gold);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
      #hovericons1:hover {
        transform: rotate(360deg);
        padding: 10%;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        color: white !important;
        background-image: linear-gradient(to bottom left, purple, red, gold) !important;
    
      }
    #hovericons2{
        border-radius:20%;
        color:blue;
    }
      #hovericons2:hover {
        transform: rotate(360deg);
        padding: 10%;
        color: white !important;
        background-color: blue !important;
    
      }
    #hovericons3{
  border-radius:20%;color:rgb(59, 129, 233);
    }
      #hovericons3:hover {
        transform: rotate(360deg);
        padding: 10%;
        color: white !important;
        background-color: rgb(59, 129, 233) !important;
    
      }
    #hovericons4{
    border-radius:50%;
color:rgb(209, 68, 68);
    }
      #hovericons4:hover {
        transform: rotate(360deg);
        padding: 10%;
        color: white !important;
        background-color: rgb(209, 68, 68) !important;
    
    
      }
      @media only screen and (max-width: 800px) {
        .review-carousel-controls span{
          display: hidden;
          opacity: 0;
        }
        .reviewcarouselitems{
          max-height: 100vh !important; box-shadow: "none" ;
       }
        /* .review-carousel-indicators{
display: none;
        } */
      }

      .review-carousel-controls{
        width:'15%'
      }
.reviewcarouselitems{
   max-height: 82vh !important; box-shadow: "none" ;
}
.reviewcarouselitems .card-testimonial{
margin-left: auto !important;

margin-right: auto !important;
margin-top: 1% !important;
margin-bottom: 1% !important;}

.testimonials-people{
  padding: 0 !important;
}
      /* fix contact us section background*/
      .section-image::after {
        background-color: white !important;
      }

      @media only screen and (max-width: 630px){
#clipped-div-upside img,#clipped-div img{
  height:'170%' !important;
}
      }