img{
    max-width: 100%;
    border-radius: 1px;
}
.img-raised{
    box-shadow: $box-shadow-raised;
}
.img-thumbnail{
    border: 0 none;
    border-radius: $border-radius-extreme;
    box-shadow: 0 4px 8px rgba(224, 156, 28, 0.6);
    margin-bottom: 10px;
}