.testimonials-1{
    .description{
        margin-bottom: 50px;
    }
}

.section-testimonials,
.testimonials-2{
        background-image: none;

        .card-profile{
            .card-title,
            .card-description{
                text-align: left !important;
            }
        }
        .card-image{
            margin: 0;
        }
        .carousel{
            .carousel-inner{
                box-shadow: none;
            }

            .carousel-control-prev,
            .carousel-control-next{
                i{
                    color: $light-black;
                }
            }
        }
        .testimonials-people{
            position: relative;

           .bg-elements {
                position: absolute;
                // border-radius: 50%;
                z-index: -140;
            }
            .left-first-person{
                left: 5%;
                top: 22%;
                height: 70px;
                width: 70px;
            }
            .left-second-person{
                left: 85%;
                top: 150%;
                height: 70px;
                width: 70px;
            }
            .left-third-person{
                left: 125%;
                top: 355%;
                height: 120px;
                width: 120px;
            }
            .left-fourth-person{
                left: 40%;
                top: -110%;
                height: 40px;
                width: 40px;
            }
            .left-fifth-person{
                left: 15%;
                top: -20%;
                height: 45px;
                width: 45px;
            }
            .left-sixth-person{
                left: 140%;
                top: 65%;
                height: 95px;
                width: 95px;
            }
            .right-first-person{
                right: 2%;
                top: 0;
                height: 60px;
                width: 60px;
            }
            .right-second-person{
                right: 30%;
                top: 80%;
                height: 70px;
                width: 70px;
            }
            .right-third-person{
                right: 95%;
                top: 95%;
                height: 50px;
                width: 50px;
            }
            .right-fourth-person{
                right: 36%;
                top: 125%;
                height: 40px;
                width: 40px;
            }
            .right-fifth-person{
                right: -10%;
                top: 10%;
                height: 100px;
                width: 100px;
            }
            .right-sixth-person{
                right: 15%;
                top: 10%;
                height: 70px;
                width: 70px;
            }
        }
    }
